python/.vscode/
python/tutorial_api_spo/.env
python/django/tutorial_django/mysite/polls/serializer.py
python/django/foros/foros/settings.py
python/django/misitio/misitio/local_settings.py
python/django/misitio/media/
pruebas/resolucion_examen_2ev/django/examen/examen/local_settings.py